.NavButton {
  --line-weight: 0.25rem;
  --line-length: 50%;
  background: var(--secondary);
  padding: 0.5em;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  z-index: 10;
  
  position: fixed;
  bottom: 1rem;
  left: 50%;

  border: none;
  cursor: pointer;
  box-shadow: 0.175rem 0.175rem 1rem rgba(0, 0, 0, 0.336);

  transform: translateX(-50%);

  transition: background 200ms ease-in-out;
}

.NavButton[data-open="true"] {
  background: var(--main);
}

.NavButton::before,
.NavButton::after {
  content: "";
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background: var(--main);
  z-index: 1;
  transition-property: transform;
  transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.NavButton::before {
  width: var(--line-weight);
  height: var(--line-length);
}

.NavButton::after {
  height: var(--line-weight);
  width: var(--line-length);
}

.NavButton[data-open="true"]::before,
.NavButton[data-open="true"]::after {
  background: var(--secondary);
  transform: translate(-50%, -50%) rotate(135deg);
}

@media (min-width: 750px) {
  .NavButton {
    bottom: unset;
    left: unset;
    position: relative;
  }

  .NavButton[data-open="true"] {
    position: fixed;
    top: 2rem;
    right: 1rem;
  }
}